.background1 {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 2em;
}
